<!--<p id="notice"><%= notice %></p> -->


  <h2><%= @brewery.name %>
    <% if not @brewery.active %>
        <span classs="label label-info"> retired </span>
    <% end %>    
  </h2>

<p><em>Established in <%=@brewery.year%> </em> </p>

<p>Number of beers:
  <%= @brewery.beers.count %>
</p>
<p>
 <% @brewery.beers.each do |beer| %>
   <li> <%= link_to beer.name, beer %> </li>
 <% end %>
</p>

<% if @brewery.ratings.empty? %>
    Beers of this brewery has not yet been rated!
<% else %>
    Has <%= pluralize(@brewery.ratings.count, 'rating')%>, 
        average <%=@brewery.average_rating%>
<% end %>

<p>
    <%= link_to 'Edit', edit_brewery_path(@brewery) %> |
    <%= link_to 'Back', breweries_path %>
</p>