<p id="notice"><%= notice %></p>


    <h2> <%= @pub.name %> </h2>
    <p> <%= @pub.street %> </p>
    <p> <%= @pub.zip %> <%= @pub.city %> </p>
    <iframe src="<%= @pub.blogmap %>" width="450" height="350"> </iframe>




